
        @media screen and (min-width: 1100px){

        	.not_container {
  		        display: flex;
  		        align-items: right;
  		        justify-content: right;
  		        margin-top: 10px;
  		        margin-right:70px;
		        }
		
    		#not_im_pro{
    		    margin-top:0px;
    		    margin-left: 10px;
    		    }
            
            #notif_list_items{
                padding:10px;
                height:50px;
                }

        }

        @media screen and (min-width:700px) and (max-width:1100px){
            .not_container {
  		        display: flex;
  		        align-items: center;
  		        justify-content: left;
		        }

   		    #not_im_pro{
    		    margin-left: 10px;
    		    }
        }
        
        @media screen and (max-width: 700px){
	
        	.not_container {
  		        display: flex;
  		        align-items: center;
  		        justify-content: left;
		        }

   		    #not_im_pro{
    		    margin-left: 10px;
    		    }
            
    	
        }

        #loadOverlay{display: none;}  
         