
.new-post-modal {
        background-color:transparent;
        box-shadow:none;
        border:1px solid transparent;
    }
.new-post-modal textarea::-webkit-input-placeholder {
        font-style: normal;
    }


    .new-post-box {
        background-color:transparent;
        box-shadow:none;
        border:1px solid transparent;
    }

    .new-post-box textarea::-webkit-input-placeholder {
        font-style: normal;
    }

    #hidden_comments{
        display:none;
    }

    #picture_and_post_buttons:hover{
        transition:0.2s;
        transform: scale(1.1);
    }

    @media screen and (max-width: 700px){

        .follow-button{
           max-width:150px;
        }

        .following-button{
            max-width:150px;
        }

        .modal{
            margin-top:-35px;
        }

        #post_location_btn{
            display:none;
            position:absolute;
            margin-left:68%;
            margin-top:-73px;
            background-color:white;
            height:40px;
            width:40px;
            border-radius:20px;
            padding-top:20px;
            padding-left:5px;
        }

        #location_bar{
            margin-left:16%;
            margin-top:-10px;
            height:40px;
            margin-bottom:25px;
            padding-top:10px;
        }

        #influencer_azienda_boxes{
            justify-content:center;
            margin-top:-10px;
        }

        #post_list_me{
            margin-top:-40px;
        }

        #post_list_you{
            margin-top:90px;
        }
    
        .new-post-box textarea{
            border-radius:25px;
            padding-top:13px;
            padding-bottom:10px;
            padding-left:10px;
            padding-right:10px;
            width:55%; 
            margin-top:20px;
            }
        
        .new-post-modal textarea{
            border-radius:25px;
            padding-top:13px;
            padding-bottom:10px;
            padding-left:10px;
            padding-right:10px;
            width:100%; 
            height:100px;
            margin-top:20px;
            }
        
        #share_something{
            height:10px;
            max-height:100%;
            margin-left:10px;
            width:90vw;
            }
        
        #hash_something{
            height:10px;
            max-height:80%;
            margin-left:10px;
            margin-top:-10px;
            width:93%;
            }
            
        #new_post_box_height{
            max-height:100%;
            margin-top:-30px;
            margin-left:60px;
            //width:100vw;
            }

        #send_button_id{
            max-height:30px;
            max-width:30px;
            border-radius:15px;
            }
        
        .material-icons.md-12{ 
            font-size: 18px;
            }

        #big_post_button{
            margin-top:-48px;
            position:static;
            height:40px; 
            width:40px; 
            border-radius:20px; 
            background-color:white; 
            border:1px solid red; 
            margin-right:-48%;
            }
        
        #post_button_id_logo{
            margin-top:-2px; 
            margin-left:-8px; 
            color:#e72b38;
            }
        
        #big_close_button{
             border:1px solid black;
              margin-left:38%;
        }
        
        #big_image_button{
            position:absolute;
            height:40px; 
            width:40px; 
            border-radius:20px; 
            background-color:white;
            border:1px solid blue; 
            margin-left:10px;
            margin-top:-48px;
            }
        
        #image_button_id_logo{
            margin-top:-1px; 
            margin-left:0px; 
            color:#5979FB;
            }

        #sugg_peep_placement{
            margin-top:-75px;
        }

        #suggested_people_feed{
            margin-top:-50px;
        }

        #post_count_prof{
            margin-left:25px;
        }

        #posts_number_profile_me{
            position:absolute;
            margin-top:-30px;
            margin-left:0px;
        }

        #posts_number_profile_me_brand{
            position:absolute;
            margin-top:-30px;
            margin-left:0px;
        }

        #posts_number_profile{
            position:absolute;
            margin-top:25px;
            margin-left:0px;
        }

        #posts_number_profile_you_brand{
            position:absolute;
            margin-top:30px;
            margin-left:0px;
        }

        #posts_number_profile_me_zero{
            position:absolute;
            margin-top:-30px;
            margin-left:5px;
        }

        #posts_number_profile_me_brand_zero{
            position:absolute;
            margin-top:-30px;
            margin-left:0px;
        }

        #posts_number_profile_zero{
            position:absolute;
            margin-top:-20px;
            margin-left:5px;
        }

        #posts_number_profile_you_brand_zero{
            position:absolute;
            margin-top:-30px;
            margin-left:5px;
        }
    }

   

    @media screen and (min-width: 700px){

        .follow-button{
           max-width:150px;
        }

        .following-button{
            max-width:150px;
        }


         div.scrollmenu_follow { 
                position:absolute;
                margin-top:-120px;
                background-color: transparent;
                overflow-x:auto;
                overflow-y:hidden;
                white-space: nowrap;
                height:80px;
                max-width:850px;
                margin-left:-40px;
                }
            
             div.scrollmenu_follow_group { 
                position:absolute;
                margin-top:-60px;
                background-color: transparent;
                overflow-x:auto;
                overflow-y:hidden;
                white-space: nowrap;
                height:80px;
                max-width:850px;
                margin-left:-40px;
                }

            .follow_link_icons {
  		        position: relative;
  		        display: inline-block;
  		        float: center;
		        }
            
            #post_list_you{
            margin-top:200px;
            }
    

        #post_location_btn{
            position:absolute;
            margin-left:46%;
            margin-top:-40px;
        }

        #location_bar{
            height:50px;
            padding-top:15px;
        }

        #influencer_box_yes{
            margin-left:100px;
        }

        .new-post-box textarea{
            border-radius:25px;
            padding-top:15px;
            padding-bottom:10px;
            padding-left:10px;
            padding-right:10px;
            width:650px; 
            height:50px;
            margin-left:55px;
            margin-top:20px;
            }
        
        .new-post-modal textarea{
            border-radius:25px;
            padding-top:12px;
            padding-bottom:10px;
            padding-left:10px;
            padding-right:10px;
            width:100%;
            height:100px; 
            margin-left:55px;
            margin-top:20px;
            border-radius:25px;
            }

        #new_post_box_height{
            max-height:1800px;
            margin-top:-50px;
            }

        .material-icons.md-12{ 
            font-size: 18px;
            }

        #big_post_button{
            height:40px; 
            width:40px; 
            margin-top:-48px;
            border-radius:20px; 
            background-color:white; 
            border:1px solid red;  
            margin-right:-55%;
            }
        
         #big_close_button{
             border:1px solid black;
              margin-left:42%;
        }
        
        #big_image_button{
            position:absolute;
            height:40px; 
            width:40px;
            margin-top:-48px; 
            border-radius:20px; 
            background-color:white;
            border:1px solid blue; 
            }

        #post_button_id_logo{
            margin-top:-2px; 
            margin-left:-7px; 
            color:#e72b38;
            }
        
        #image_button_id_logo{
            margin-top:-2px; 
            margin-left:0px; 
            color:#5979FB;
            }

        #big_post_button:hover{
            transition:0.2s;
            transform: scale(1.1);
            }
        
        #big_image_button:hover{
            transition:0.2s;
            transform: scale(1.1);
            }
        
        #sugg_peep_placement{
            margin-top:-10px;
        }

        #suggested_people_feed{
            margin-top:-30px;
        }

        #post_count_prof{
            margin-left:15px;
        }
    }

    #loadOverlay{display: none;}
